.dropdown-menu {
  background-color: #ffcf3e;
  border: none;
  box-shadow: 0px 3px 44px -11px rgba(0, 0, 0, 0.77);
}

.mt-50 {
  margin-top: 50px;
}

.btn-shadow {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  margin-right: 7px;
  font-weight: 800;
}

.btn-shadow:hover {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 28px;
}

.btn-orange {
  border-radius: 28px;
  background-color: rgb(255, 115, 0);
  color: white !important;
  font-weight: 800;
}

.btn-orange:hover {
  background-color: rgb(255, 90, 0);
}

.zoomin {
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.zoomin:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.foto_item {
  width: 150px;
  height: 200px;
  float: left;
  margin-right: 10px;
}

.foto_item img {
  width: 150px;
}

.search-form {
  margin-right: 40px;
}

.search-form input {
  width: 300px !important;
}

@media (max-width: 600px) {
  .search-form input {
    width: 250px !important;
  }

  .search-form > .input-group {
    margin-top: 15px;
  }

  .btn-shadow {
    margin-right: 0;
  }
}

@media (max-width: 576px) {
  .container {
    margin-left: 10px;
    margin-right: 10px;
  }
}

iframe {
  border-radius: 10px;
  width: 480px;
  height: 271px;
}

@media (max-width: 515px) {
  iframe {
    width: 350px;
    height: auto;
  }
}

.cont {
  width: auto;
  height: 320px;
  position: relative;
  margin: 0;
  padding: 0;
}

.confirmation-message {
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 999;
  position: absolute;
}

.show-hide-pass {
  background-color: white;
  border: solid 1px lightgrey;
  border-left: none;
  color: grey;
}

.picture-change {
  width: 40vh;
  height: 40vh;
  border-radius: 50%;
  margin: 40px 0;
}

footer {
  margin: 30px 0 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

.signature {
  font-size: 13px;
  color: #675e5a;
  font-weight: 800;
}
