/* .dropdown:hover > .dropdown-menu {
  display: block;
  border: none;
  -webkit-box-shadow: 0px 3px 44px -11px rgba(0, 0, 0, 0.77);
  -moz-box-shadow: 0px 3px 44px -11px rgba(0, 0, 0, 0.77);
  box-shadow: 0px 3px 44px -11px rgba(0, 0, 0, 0.77);
} */

.dropdown-menu {
  background-color: #ffcf3e;
  border: none;
  -webkit-box-shadow: 0px 3px 44px -11px rgba(0, 0, 0, 0.77);
  -moz-box-shadow: 0px 3px 44px -11px rgba(0, 0, 0, 0.77);
  box-shadow: 0px 3px 44px -11px rgba(0, 0, 0, 0.77);
}

.foto_item {
  width: 150px;
  height: 200px;
  float: left;
  /* text-align: center; */
  margin-right: 10px;
}

.foto_item img {
  width: 150px;
}

.search-form {
  margin-right: 40px;
}

.search-form input {
  width: 300px !important;
}

@media (max-width: 600px) {
  .search-form input {
    width: 250px !important;
  }

  .search-form > .input-group {
    margin-top: 15px;
  }
}

@media (max-width: 576px) {
  .container {
    margin-left: 10px;
    margin-right: 10px;
  }
}

iframe {
  border-radius: 10px;
  width: 480px;
  height: 271px;
}

@media (max-width: 515px) {
  iframe {
    width: 350px;
    height: auto;
  }
}

.cont {
  width: auto;
  height: 320px;
  position: relative;
  margin: 0;
  padding: 0;
}

.confirmation-message {
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 999;
  position: absolute;
}

.show-hide-pass {
  background-color: white;
  border: solid 1px lightgrey;
  border-left: none;
  color: grey;
}
